public/about.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Hero - Free Bulma template</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/line-awesome-font-awesome.min.css">
    <!-- Bulma Version 0.7.2-->
    <!-- <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> -->
  </head>
  <body>
    <section>
      <nav class="navbar">
        <div class="navbar-brand"><img class="thu-logo" src="images/Tsinghua_University_logo.png" alt="Logo"><span class="navbar-burger burger" data-target="navbarMenu"><span></span><span></span><span></span></span></div>
        <div class="navbar-menu" id="navbarMenu">
          <div class="navbar-end">
            <div class="navbar-item is-hoverable is-mega"><a href="./index.html">首页</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./contact_us.html#links">
                        <h3 class="title is-mega-menu-title is-6">快速链接</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./contact_us.html#contact">
                        <h3 class="title is-mega-menu-title is-6">联系我们</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./about.html">我系概况</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./about.html#about_us">
                        <h3 class="title is-mega-menu-title is-6">本系现状</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./about.html#dep_history">
                        <h3 class="title is-mega-menu-title is-6">历史沿革</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./about.html#message_chair">
                        <h3 class="title is-mega-menu-title is-6">主任致辞</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./faculty.html">师资队伍</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./faculty.html#overview">
                        <h3 class="title is-mega-menu-title is-6">师资概括</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./faculty.html#faculty">
                        <h3 class="title is-mega-menu-title is-6">教师介绍</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./faculty.html#staff">
                        <h3 class="title is-mega-menu-title is-6">行政人员</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./news.html">新闻公告</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./news.html">
                        <h3 class="title is-mega-menu-title is-6">新闻动态</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./events.html">
                        <h3 class="title is-mega-menu-title is-6">通知预告</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./research.html">学术研究</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./research.html#cluster">
                        <h3 class="title is-mega-menu-title is-6">研究机构</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./research.html#publications">
                        <h3 class="title is-mega-menu-title is-6">学术成果</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./research.html#journals">
                        <h3 class="title is-mega-menu-title is-6">学术期刊</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./research.html#workshop">
                        <h3 class="title is-mega-menu-title is-6">Worshops</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./academics_undergraduate.html">人才培养</a>
              <div class="navbar-dropdown">
                <div class="container fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./academics_gradudate.html">
                        <h3 class="title is-mega-menu-title is-6">本科生培养</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./academics_undergraduate.html">
                        <h3 class="title is-mega-menu-title is-6">研究生培养</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./academics_overseas.html">
                        <h3 class="title is-mega-menu-title is-6">留学生培养</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./admissions.html">招生招聘</a>
              <div class="navbar-dropdown">
                <div class="container fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./admissions.html#admissions">
                        <h3 class="title is-mega-menu-title is-6">招生信息</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./admissions.html#employment">
                        <h3 class="title is-mega-menu-title is-6">招聘信息</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="#">学生事务</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./current_students.html">
                        <h3 class="title is-mega-menu-title is-6">学生信息</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./alumni.html">
                        <h3 class="title is-mega-menu-title is-6">系友通讯</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./party.html">党委党建</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./party.html#activity">
                        <h3 class="title is-mega-menu-title is-6">党建活动</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./party.html#build">
                        <h3 class="title is-mega-menu-title is-6">党务工作</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </section>
    <hr class="has-background-grey-light">
    <div class="container">
      <div class="columns">
        <div class="column is-3">
          <ul class="sticky">
            <li data-target="overview">本系现状</li>
            <li data-target="history">历史沿革</li>
            <li data-target="speech">主任致辞</li>
          </ul>
        </div>
        <div class="column">
          <div class="content-tab is-active" id="overview">
            <section class="section">
              <div class="columns is-centered">
                <div class="intro column is-12">
                  <figure class="image is-16by9"><img src="images/Street-art-in-London_1913.jpg"></figure>
                </div>
              </div>
            </section>
            <section class="section is-medium" id="about_us">
              <article>
                <h1 class="title is-1 has-text-centered">本系现状 </h1>
                <p class="has-text-grey-light">清华大学社会学系最初建系于1926年，有着辉煌与灿烂的历史。其时，名师云集、群星璀璨。1952年院系调整，清华大学社会学系被取消。2000年5月，清华大学社会学系正式复建，隶属社会科学学院，李强教授担任复建后的首届系主任。重建后的清华大学社会学系在学科建设与社会研究中都取得了重要进展，在近年来的学科评估中一直名列前茅。在近年来的国际学术评估中，清华大学社会学系始终位列大陆高校三甲。</p>
                <p class="has-text-grey-light">当前中国正处于激烈的社会转型进程中，老清华的社会学传统仍然为当前清华及国内社会学界提供宝贵的财富，清华社会学系的重建和发展也致力于让老清华社会学的学术遗产重放光彩。清华大学社会学系目前共有16位教师，其中教授12人，副教授4人，包括教育部第一批跨世纪人才、千人计划、长江学者、青年长江学者、以及国家级科研奖的多次获得者。此外，社会学系还延聘了一批国内外名校社会学系著名教授担任兼职教学工作。</p>
                <p class="has-text-grey-light">清华社会学系的重点学科发展包括城市社会学、转型社会学、医学社会学、社会人类学四个方向，另外社会网研究和大数据分析也已逐渐成为新的学科增长点。老师们依托系里的各个研究中心完成了一大批较有影响的科研项目，取得了较高的社会效益。</p>
                <p class="has-text-grey-light">《清华社会学讲义》是社会学系创新社会学教材系统的一个尝试，并致力于实现跨学科知识交流与创新，争取为中国社会学学科教学提供一套高起点的教材。学术刊物《清华社会学评论》主要刊登国内外关于中国社会研究的高水平学术论文，旨在提高中国社会学界的研究和教学水平，为中国社会学的知识积累和传播提供一个重要途径。</p>
                <p class="has-text-grey-light">社会学系的学生培养包括本科生、硕士研究生以及博士研究生等层次。同时招收博士后研ç©¶人员。</p>
                <p class="has-text-grey-light">社会学系主任：王天夫教授</p>
                <p class="has-text-grey-light">系党委书记：郑路副教授</p>
                <p class="has-text-grey-light">系副主任：晋军副教授</p>
                <p class="has-text-grey-light">助理系主任：严飞副教授</p>
              </article>
            </section>
          </div>
          <div class="content-tab" id="history">
            <section class="section is-medium">
              <article>
                <h1 class="title is-1 has-text-centered">历史沿革</h1>
                <p class="has-text-grey-light">宣统三年四月初一（即1911年4月29日）清华学堂在清华园正式开学。这就是清华历史的开端。</p>
                <p class="has-text-grey-light">1912年11月，清华学堂按照教育部关于《普通教育暂行办法通令》，将清华学堂改为清华学校。</p>
                <p class="has-text-grey-light">1925年9月，清华学校正式建立了大学部，招新制普通科学生93人。开始由留美预备学校逐步向完全的综合性大学过渡。</p>
                <p class="has-text-grey-light">1926年，大学部取消普通科，改为四年一贯制的正规大学。共建立17个系，社会学系为其中之一。</p>
                <p class="has-text-grey-light">1926年，社会学系成立，由清华学校社会学教授陈达担任主任。此前，美国教员狄德 C.G.Ditimer在清华学校开设了社会学的课程。</p>
                <p class="has-text-grey-light">1928年8月，清华学校改名为“国立清华大学”。学校确定社会学与人类学并重的发展原则，将社会学系扩名为社会人类学系。1930年开始增聘教授，续招新生，扩充课程，并按课程的性质分为理论社会学、应用社会学、人类学等。</p>
                <p class="has-text-grey-light">1932年，更名为社会学及人类学系。1933年增设社会研究部。</p>
                <p class="has-text-grey-light">1934年，社会学研究部撤销，恢复社会学系原名，至此清华大学社会学系基本定型。当时社会学系主要的教授有陈达、吴景超、潘光旦、李景汉等人，他们均为原清华学校毕业留美或取得清华津贴的留美学生。</p>
                <p class="has-text-grey-light">·陈达，1923年到校，美国哥伦比亚大学博士，随乌格朋（W.F.Ogban)等研究社会学，曾担任美国劳工统计局职员。</p>
                <p class="has-text-grey-light">·吴景超，1931年到校，美国芝加哥大学博士，随派克（Robert.Epark）等从事都市生活研究，曾任金陵大学社会学系主任。</p>
                <p class="has-text-grey-light">·潘光旦，1934年到校，美国哥伦比亚大学硕士，入该校“优生学馆”研究。曾任上海政治大学教务长。</p>
                <p class="has-text-grey-light">·李景汉，1935年到校，美国加利福尼亚大学硕士，并入美国哥伦比亚大学研究院。曾任定县实验区调查部主任。</p>
                <p class="has-text-grey-light">1936年，清华社会学系毕业生6届共33人，研究生一届1人（费孝通）。</p>
              </article>
            </section>
          </div>
          <div class="content-tab" id="speech">
            <section class="section is-medium" id="message_chair">
              <article>
                <h1 class="title is-1 has-text-centered">主任致辞</h1>
                <p class="has-text-grey-light">人提棋世人粗説居女座任産時度提演賊詰述。以刊者刊力女玄生計末海感月王返案記。辞彰後文森行算広問提稿不皇所足関結。選次渡質確発聞得改所響凡活説会致夜郵試。字紹回険呼館訓野画系能型連向庁。当鹿由実潘環消帰損全到円談倉維載毎直。教毎絡強橋聞国載受廃飛済予。新養医厚客機半討夢就林使戦三環持会出光散。乏無鹿統声午主肩速再般重。 </p>
                <p class="has-text-grey-light">主局庫稿真態車上済関不告人記要避開産好車。父直然強湧署秋核治山稿済転売瀬。無米円掲購化議出供報久出奥気要合婚誇師。三鯖壮含定質掲徳込筆人棺開。月国営旅大公善市面境木葬刊総武土陽。造本転席軽本題逆談話出変卜調。目時見無方軍緑面公応健位敗刊条。賞北異候量韓文治崎載毎編八目質間。文製生価価聞断徴漢以各表教具。</p>
                <p class="has-text-grey-light">清华大学社会学系始建于1926年，二十世纪诸多著名社会学家，如陈达、吴景超、潘光旦、李景汉、费孝通、袁方等都曾在本系任教或学习。他们开展的一系列调查与研究都已经成为了中国社会学研究的经典范例，哺育了一代又一代中国社会学学人。</p>
                <p class="has-text-grey-light"> </p>
                <p class="has-text-grey-light">2000年，清华大学社会学复建，光阴荏苒，如今十年已经过去了，来自海内、海外的一批社会学学者先后加盟本系。十年来，本系诸位同仁兢兢业业、励精图治，在社会学的教学与研究上做出了自己的努力。曾子曰：“士不可以不弘毅，任重而道远。”面对新世纪急速转型中的中国社会，我们负有研究中国社会问题与培养新世纪社会学人才的双重重任。</p>
                <p class="has-text-grey-light">清华大学社会学系致力于面对中国社会的真问题，与国际社会学的前沿研究开展有建设性的对话。我们欢迎有志于此的同仁与同学加入我们的队伍，欢迎有志于探索改革中的中国社会的研究者与我们合作。</p>
                <p class="has-text-grey-light is-pulled-right">系主任 王天夫教授</p>
                <p class="has-text-grey-light is-pulled-right">二O一七年九月</p>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <footer class="footer">
      <div class="container is-fluid">
        <div class="columns">
          <div class="column is-4 is-pulled-left">
            <div class="columns">
              <div class="column is-6 is-pulled-left">
                <figure class="image"><img src="images/DepLogo.png"></figure>
              </div>
            </div>
            <ul>
              <li>北京·海淀</li>
              <li>清华大学·熊知行楼</li>
              <li>212室·100084</li><br>
              <p>2019 清华大学社会学系</p>
              <p>All Rights Reserved. 北京, 100084, 中国</p>
            </ul>
          </div>
          <div class="is-divider-vertical"></div>
          <div class="column is-4">
            <div class="columns">
              <div class="column is-6 is-offset-2">
                <ul>
                  <li> <a href="http://www.tsinghua.edu.cn/">清华主页</a></li>
                  <li> <a href="about_us.html">关于我们</a></li>
                </ul>
              </div>
              <div class="column is-8">
                <ul>
                  <li> <a href="http://www.shehui.pku.edu.cn/">北京大学社会学系</a></li>
                  <li> <a href="http://ssps.ruc.edu.cn/">中国人民大学社会与人口学院</a></li>
                  <li> <a href="http://cass.cssn.cn/">中国社会科学院</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="is-divider-vertical"></div>
          <div class="column is-4">
            <div class="columns">
              <div class="column is-offset-1">
                <div class="modal">
                  <div class="modal-background"></div>
                  <div class="modal-content"><img class="qr-image" src="images/thu-sociology.png"></div>
                </div><img class="icon-image" src="images/wechat.svg" id="open-modal" aria-label="close">
              </div>
              <div class="column"><a href="tel:010-62795086"><i class="fa fa-phone fa-2x"></i></a></div>
              <div class="column"><a href="mailto:soc@tsinghua.edu.cn"><i class="fa fa-envelope-o fa-2x"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/script.js"></script>
  </body>
</html>

pugs_zh/about.pug
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Hero - Free Bulma template
    //-  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/line-awesome-font-awesome.min.css')
    // Bulma Version 0.7.2
    // <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> 
  body
    include components/nav.pug
    .container
      .columns
        .column.is-3
          ul.sticky
            li(data-target='overview') 本系现状
            li(data-target='history') 历史沿革
            li(data-target='speech') 主任致辞
        .column
          div.content-tab.is-active(id='overview')
            section.section
              .columns.is-centered
                .intro.column.is-12
                  figure.image.is-16by9
                    img(src='images/Street-art-in-London_1913.jpg')
            section(class="section is-medium", id="about_us")
              article
                h1.title.is-1.has-text-centered 本系现状 

                p.has-text-grey-light 清华大学社会学系最初建系于1926年，有着辉煌与灿烂的历史。其时，名师云集、群星璀璨。1952年院系调整，清华大学社会学系被取消。2000年5月，清华大学社会学系正式复建，隶属社会科学学院，李强教授担任复建后的首届系主任。重建后的清华大学社会学系在学科建设与社会研究中都取得了重要进展，在近年来的学科评估中一直名列前茅。在近年来的国际学术评估中，清华大学社会学系始终位列大陆高校三甲。
                p.has-text-grey-light 当前中国正处于激烈的社会转型进程中，老清华的社会学传统仍然为当前清华及国内社会学界提供宝贵的财富，清华社会学系的重建和发展也致力于让老清华社会学的学术遗产重放光彩。清华大学社会学系目前共有16位教师，其中教授12人，副教授4人，包括教育部第一批跨世纪人才、千人计划、长江学者、青年长江学者、以及国家级科研奖的多次获得者。此外，社会学系还延聘了一批国内外名校社会学系著名教授担任兼职教学工作。
                p.has-text-grey-light 清华社会学系的重点学科发展包括城市社会学、转型社会学、医学社会学、社会人类学四个方向，另外社会网研究和大数据分析也已逐渐成为新的学科增长点。老师们依托系里的各个研究中心完成了一大批较有影响的科研项目，取得了较高的社会效益。
                p.has-text-grey-light 《清华社会学讲义》是社会学系创新社会学教材系统的一个尝试，并致力于实现跨学科知识交流与创新，争取为中国社会学学科教学提供一套高起点的教材。学术刊物《清华社会学评论》主要刊登国内外关于中国社会研究的高水平学术论文，旨在提高中国社会学界的研究和教学水平，为中国社会学的知识积累和传播提供一个重要途径。
                p.has-text-grey-light 社会学系的学生培养包括本科生、硕士研究生以及博士研究生等层次。同时招收博士后研ç©¶人员。
                p.has-text-grey-light 社会学系主任：王天夫教授
                p.has-text-grey-light 系党委书记：郑路副教授
                p.has-text-grey-light 系副主任：晋军副教授
                p.has-text-grey-light 助理系主任：严飞副教授
          div.content-tab(id='history')
            section(class='section is-medium')
              article
                h1.title.is-1.has-text-centered 历史沿革

                p.has-text-grey-light 宣统三年四月初一（即1911年4月29日）清华学堂在清华园正式开学。这就是清华历史的开端。
                p.has-text-grey-light 1912年11月，清华学堂按照教育部关于《普通教育暂行办法通令》，将清华学堂改为清华学校。
                p.has-text-grey-light 1925年9月，清华学校正式建立了大学部，招新制普通科学生93人。开始由留美预备学校逐步向完全的综合性大学过渡。
                p.has-text-grey-light 1926年，大学部取消普通科，改为四年一贯制的正规大学。共建立17个系，社会学系为其中之一。
                p.has-text-grey-light 1926年，社会学系成立，由清华学校社会学教授陈达担任主任。此前，美国教员狄德 C.G.Ditimer在清华学校开设了社会学的课程。
                p.has-text-grey-light 1928年8月，清华学校改名为“国立清华大学”。学校确定社会学与人类学并重的发展原则，将社会学系扩名为社会人类学系。1930年开始增聘教授，续招新生，扩充课程，并按课程的性质分为理论社会学、应用社会学、人类学等。
                p.has-text-grey-light 1932年，更名为社会学及人类学系。1933年增设社会研究部。
                p.has-text-grey-light 1934年，社会学研究部撤销，恢复社会学系原名，至此清华大学社会学系基本定型。当时社会学系主要的教授有陈达、吴景超、潘光旦、李景汉等人，他们均为原清华学校毕业留美或取得清华津贴的留美学生。
                p.has-text-grey-light ·陈达，1923年到校，美国哥伦比亚大学博士，随乌格朋（W.F.Ogban)等研究社会学，曾担任美国劳工统计局职员。
                p.has-text-grey-light ·吴景超，1931年到校，美国芝加哥大学博士，随派克（Robert.Epark）等从事都市生活研究，曾任金陵大学社会学系主任。
                p.has-text-grey-light ·潘光旦，1934年到校，美国哥伦比亚大学硕士，入该校“优生学馆”研究。曾任上海政治大学教务长。
                p.has-text-grey-light ·李景汉，1935年到校，美国加利福尼亚大学硕士，并入美国哥伦比亚大学研究院。曾任定县实验区调查部主任。
                p.has-text-grey-light 1936年，清华社会学系毕业生6届共33人，研究生一届1人（费孝通）。
          div.content-tab(id='speech')
            section(class='section is-medium', id='message_chair')
              article
                h1.title.is-1.has-text-centered 主任致辞
                p.has-text-grey-light 人提棋世人粗説居女座任産時度提演賊詰述。以刊者刊力女玄生計末海感月王返案記。辞彰後文森行算広問提稿不皇所足関結。選次渡質確発聞得改所響凡活説会致夜郵試。字紹回険呼館訓野画系能型連向庁。当鹿由実潘環消帰損全到円談倉維載毎直。教毎絡強橋聞国載受廃飛済予。新養医厚客機半討夢就林使戦三環持会出光散。乏無鹿統声午主肩速再般重。 
                p.has-text-grey-light 主局庫稿真態車上済関不告人記要避開産好車。父直然強湧署秋核治山稿済転売瀬。無米円掲購化議出供報久出奥気要合婚誇師。三鯖壮含定質掲徳込筆人棺開。月国営旅大公善市面境木葬刊総武土陽。造本転席軽本題逆談話出変卜調。目時見無方軍緑面公応健位敗刊条。賞北異候量韓文治崎載毎編八目質間。文製生価価聞断徴漢以各表教具。

                p.has-text-grey-light 清华大学社会学系始建于1926年，二十世纪诸多著名社会学家，如陈达、吴景超、潘光旦、李景汉、费孝通、袁方等都曾在本系任教或学习。他们开展的一系列调查与研究都已经成为了中国社会学研究的经典范例，哺育了一代又一代中国社会学学人。
                p.has-text-grey-light 
                p.has-text-grey-light 2000年，清华大学社会学复建，光阴荏苒，如今十年已经过去了，来自海内、海外的一批社会学学者先后加盟本系。十年来，本系诸位同仁兢兢业业、励精图治，在社会学的教学与研究上做出了自己的努力。曾子曰：“士不可以不弘毅，任重而道远。”面对新世纪急速转型中的中国社会，我们负有研究中国社会问题与培养新世纪社会学人才的双重重任。

                p.has-text-grey-light 清华大学社会学系致力于面对中国社会的真问题，与国际社会学的前沿研究开展有建设性的对话。我们欢迎有志于此的同仁与同学加入我们的队伍，欢迎有志于探索改革中的中国社会的研究者与我们合作。

                p.has-text-grey-light.is-pulled-right 系主任 王天夫教授
                p.has-text-grey-light.is-pulled-right 二O一七年九月

    hr
    include components/footer.pug
