pugs_zh/contact_us.pug
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Hero - Free Bulma template
    //-  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/line-awesome-font-awesome.min.css')
    // Bulma Version 0.7.2
    // <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> 
  body
    include components/nav.pug
    .container
      section(class='section is-medium', id='contact')
        h1.title.is-1.has-text-centered 联系我们
        article.content 択田病霞索理遣紀極者月形開事山。大野稿湖実膨特図度梨進車回購学場。自売六文改第研道載断推員。言競切黒未億強理堀聴将的。強明紙昨中野沈欠心道事氏央残子。球発子記市注報与達年理上禁一治女。妻衆備著動運衛惑津怖検児日阪。件問皆昨成長食審物諭転真試。受点決禁保経由録投党公特横能険力組稿。不祉町地転手由跡深元事度。
      section(class='section is-medium', id='links')
        h1.title.is-1.has-text-centered 快速链接
        article.content 関破事我委様庫渡気短品際業機拍必点探。明全連六刊票日権別題権辺現時石対先。判体代住国疑購存県近効部愛非馬津地。島東元当報井法意測報供紀手部需拓昔月健問。佐毎緒権片写討資転図無警覧信文入像本禁。読顔中不造応活局後体出帯控近。続予霊治漏賄的然整東伝受。所惑飛鷲必禁京局事面員応主載。落迷訓度夕包件質館権被明室安。
    include components/footer.pug

public/contact_us.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Hero - Free Bulma template</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/line-awesome-font-awesome.min.css">
    <!-- Bulma Version 0.7.2-->
    <!-- <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> -->
  </head>
  <body>
    <section>
      <nav class="navbar">
        <div class="navbar-brand"><img class="thu-logo" src="images/Tsinghua_University_logo.png" alt="Logo"><span class="navbar-burger burger" data-target="navbarMenu"><span></span><span></span><span></span></span></div>
        <div class="navbar-menu" id="navbarMenu">
          <div class="navbar-end">
            <div class="navbar-item is-hoverable is-mega"><a href="./index.html">首页</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./contact_us.html#links">
                        <h3 class="title is-mega-menu-title is-6">快速链接</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./contact_us.html#contact">
                        <h3 class="title is-mega-menu-title is-6">联系我们</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./about.html">我系概况</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./about.html#about_us">
                        <h3 class="title is-mega-menu-title is-6">本系现状</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./about.html#dep_history">
                        <h3 class="title is-mega-menu-title is-6">历史沿革</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./about.html#message_chair">
                        <h3 class="title is-mega-menu-title is-6">主任致辞</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./faculty.html">师资队伍</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./faculty.html#overview">
                        <h3 class="title is-mega-menu-title is-6">师资概括</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./faculty.html#faculty">
                        <h3 class="title is-mega-menu-title is-6">教师介绍</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./faculty.html#staff">
                        <h3 class="title is-mega-menu-title is-6">行政人员</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./news.html">新闻公告</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./news.html">
                        <h3 class="title is-mega-menu-title is-6">新闻动态</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./events.html">
                        <h3 class="title is-mega-menu-title is-6">通知预告</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./research.html">学术研究</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./research.html#cluster">
                        <h3 class="title is-mega-menu-title is-6">研究机构</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./research.html#publications">
                        <h3 class="title is-mega-menu-title is-6">学术成果</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./research.html#journals">
                        <h3 class="title is-mega-menu-title is-6">学术期刊</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./research.html#workshop">
                        <h3 class="title is-mega-menu-title is-6">Worshops</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./academics_undergraduate.html">人才培养</a>
              <div class="navbar-dropdown">
                <div class="container fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./academics_gradudate.html">
                        <h3 class="title is-mega-menu-title is-6">本科生培养</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./academics_undergraduate.html">
                        <h3 class="title is-mega-menu-title is-6">研究生培养</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./academics_overseas.html">
                        <h3 class="title is-mega-menu-title is-6">留学生培养</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./admissions.html">招生招聘</a>
              <div class="navbar-dropdown">
                <div class="container fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./admissions.html#admissions">
                        <h3 class="title is-mega-menu-title is-6">招生信息</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./admissions.html#employment">
                        <h3 class="title is-mega-menu-title is-6">招聘信息</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="#">学生事务</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./current_students.html">
                        <h3 class="title is-mega-menu-title is-6">学生信息</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./alumni.html">
                        <h3 class="title is-mega-menu-title is-6">系友通讯</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./party.html">党委党建</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./party.html#activity">
                        <h3 class="title is-mega-menu-title is-6">党建活动</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./party.html#build">
                        <h3 class="title is-mega-menu-title is-6">党务工作</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </section>
    <hr class="has-background-grey-light">
    <div class="container">
      <section class="section is-medium" id="contact">
        <h1 class="title is-1 has-text-centered">联系我们</h1>
        <article class="content">択田病霞索理遣紀極者月形開事山。大野稿湖実膨特図度梨進車回購学場。自売六文改第研道載断推員。言競切黒未億強理堀聴将的。強明紙昨中野沈欠心道事氏央残子。球発子記市注報与達年理上禁一治女。妻衆備著動運衛惑津怖検児日阪。件問皆昨成長食審物諭転真試。受点決禁保経由録投党公特横能険力組稿。不祉町地転手由跡深元事度。</article>
      </section>
      <section class="section is-medium" id="links">
        <h1 class="title is-1 has-text-centered">快速链接</h1>
        <article class="content">関破事我委様庫渡気短品際業機拍必点探。明全連六刊票日権別題権辺現時石対先。判体代住国疑購存県近効部愛非馬津地。島東元当報井法意測報供紀手部需拓昔月健問。佐毎緒権片写討資転図無警覧信文入像本禁。読顔中不造応活局後体出帯控近。続予霊治漏賄的然整東伝受。所惑飛鷲必禁京局事面員応主載。落迷訓度夕包件質館権被明室安。</article>
      </section>
    </div>
    <footer class="footer">
      <div class="container is-fluid">
        <div class="columns">
          <div class="column is-4 is-pulled-left">
            <div class="columns">
              <div class="column is-6 is-pulled-left">
                <figure class="image"><img src="images/DepLogo.png"></figure>
              </div>
            </div>
            <ul>
              <li>北京·海淀</li>
              <li>清华大学·熊知行楼</li>
              <li>212室·100084</li><br>
              <p>2019 清华大学社会学系</p>
              <p>All Rights Reserved. 北京, 100084, 中国</p>
            </ul>
          </div>
          <div class="is-divider-vertical"></div>
          <div class="column is-4">
            <div class="columns">
              <div class="column is-6 is-offset-2">
                <ul>
                  <li> <a href="http://www.tsinghua.edu.cn/">清华主页</a></li>
                  <li> <a href="about_us.html">关于我们</a></li>
                </ul>
              </div>
              <div class="column is-8">
                <ul>
                  <li> <a href="http://www.shehui.pku.edu.cn/">北京大学社会学系</a></li>
                  <li> <a href="http://ssps.ruc.edu.cn/">中国人民大学社会与人口学院</a></li>
                  <li> <a href="http://cass.cssn.cn/">中国社会科学院</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="is-divider-vertical"></div>
          <div class="column is-4">
            <div class="columns">
              <div class="column is-offset-1">
                <div class="modal">
                  <div class="modal-background"></div>
                  <div class="modal-content"><img class="qr-image" src="images/thu-sociology.png"></div>
                </div><img class="icon-image" src="images/wechat.svg" id="open-modal" aria-label="close">
              </div>
              <div class="column"><a href="tel:010-62795086"><i class="fa fa-phone fa-2x"></i></a></div>
              <div class="column"><a href="mailto:soc@tsinghua.edu.cn"><i class="fa fa-envelope-o fa-2x"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/script.js"></script>
  </body>
</html>
