pugs_zh/faculty.pug
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Hero - Free Bulma template
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/line-awesome-font-awesome.min.css')
    // Bulma Version 0.7.2
    // <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> 
  body
    include components/nav.pug
    .container
      .columns
        .column.is-3
          ul.sticky
            li(data-target='overview') 师资概况
            li(data-target='fulltime') 教师介绍
            li(data-target='staff') 行政人员
        .column
          section.section.is-medium.content-tab.is-active(id='overview')
            h1(class='subtitle is-1 has-text-centered') 师资概括
            article 目前，清华大学的社会学队伍尚处于组建过程中，陆续调入了一批中青年教学骨干，特别注重从国际知名大学引进一流人才。已经和正在调入的有在美国哈佛大学、德州大学、巴黎第十大学等校获得博士学位的人员，甚至是在国际上有一定知名度的学者。从国内调入的教师也都是本学科领域的学术带头人，其中多数人在中国社会学研究和教学领域已有较大的建树，在国内外学术界具有一定的影响。目前的教师队伍包括教授11名，副教授2名，讲师1名，另有清华校内共建博士点教授1名，副教授3名。上述教学人员中9名具有博士生导师资格，一人入选国家教育部第一批“跨世纪优秀人才计划”。此外,社会学系还延聘了一批国际名校社会学系的著名教授担任兼职教学和研究工作，他们分别来自美国哈佛大学、斯坦福大学、耶鲁大学、杜克大学、芝加哥大学、加州大学伯克利分校、加州大学洛杉矶分校、明尼苏达大学、澳洲国立大学。

            hr

            .sandbox
              each row in [1, 2, 3]
                .columns.is-centered
                  each col in [1, 2, 3]
                    .column.is-4
                      .box
                        a(href='faculty_detail.html')
                          figure.image
                            .hvrbox
                              img(src='images/feiyan.jpg')
                              .hvrbox-layer_top
                                .hvrbox-text 目時見無方軍緑面公応健位
                                figcaption
                                  h3.has-text-purple.has-text-centered.is-size-6 燕飞


          section.section.is-medium.content-tab(id='fulltime')
            h1.subtitle.is-1.has-text-centered 全职教师
            .sandbox
              each row in [1, 2, 3]
                .columns.is-centered
                  each col in [1, 2, 3]
                    .column.is-4
                      .box
                        a(href='faculty_detail.html')
                          figure.image
                            .hvrbox
                              img(src='images/feiyan.jpg')
                              .hvrbox-layer_top
                                .hvrbox-text 目時見無方軍緑面公応健位敗刊条
                                figcaption
                                  h3.has-text-purple.has-text-centered.is-size-6 燕飞
            // include components/pagination.pug

            hr

            h2.subtitle.is-2.has-text-centered 兼职教师
            div.has-text-purple 本校跨学科教授
            div 毛其智 教授 清华大学建筑学院 城市规划
            div 尹稚   教授 清华大学建筑学院 城市规划
            div 张杰   教授 清华大学建筑学院 城市规划
            div 谭纵波 教授 清华大学建筑学院 城市规划
            div 边兰春 教授 清华大学建筑学院 城市规划
            div 邵磊   教授 清华大学建筑学院 城市规划
            div 彭凯平 教授 清华大学心理学系 文化与认知

            div.has-text-purple 校外兼职教授
            div 李培林 教授 中国社会科学院社会学所􀀀 社会理论、社会分层与流动

            div.has-text-purple 访问教授
            div 杨大利 教授 芝加哥大学政治学系
            div 周雪光 教授 芝加哥大学政治学系
            div 赵鼎新 教授 芝加哥大学社会学系
            div M i c h a e l S obel 教授 哥伦比亚大学社会学系
            div 李静君 教授 加州州立大学洛杉矶分校社会学系
            div 光􀀀磊  教授 加州州立大学圣地亚哥分校政治学系
          section.section.is-medium.content-tab(id='staff')
            h2.subtitle.is-2.has-text-centered 行政人员
            div 李彩霞
            div 于昕
            div soc@mail.tsinghua.edu.cn

    hr
    include components/footer.pug

public/faculty.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Hero - Free Bulma template</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/line-awesome-font-awesome.min.css">
    <!-- Bulma Version 0.7.2-->
    <!-- <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> -->
  </head>
  <body>
    <section>
      <nav class="navbar">
        <div class="navbar-brand"><img class="thu-logo" src="images/Tsinghua_University_logo.png" alt="Logo"><span class="navbar-burger burger" data-target="navbarMenu"><span></span><span></span><span></span></span></div>
        <div class="navbar-menu" id="navbarMenu">
          <div class="navbar-end">
            <div class="navbar-item is-hoverable is-mega"><a href="./index.html">首页</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./contact_us.html#links">
                        <h3 class="title is-mega-menu-title is-6">快速链接</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./contact_us.html#contact">
                        <h3 class="title is-mega-menu-title is-6">联系我们</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./about.html">我系概况</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./about.html#about_us">
                        <h3 class="title is-mega-menu-title is-6">本系现状</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./about.html#dep_history">
                        <h3 class="title is-mega-menu-title is-6">历史沿革</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./about.html#message_chair">
                        <h3 class="title is-mega-menu-title is-6">主任致辞</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./faculty.html">师资队伍</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./faculty.html#overview">
                        <h3 class="title is-mega-menu-title is-6">师资概括</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./faculty.html#faculty">
                        <h3 class="title is-mega-menu-title is-6">教师介绍</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./faculty.html#staff">
                        <h3 class="title is-mega-menu-title is-6">行政人员</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./news.html">新闻公告</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./news.html">
                        <h3 class="title is-mega-menu-title is-6">新闻动态</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./events.html">
                        <h3 class="title is-mega-menu-title is-6">通知预告</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./research.html">学术研究</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./research.html#cluster">
                        <h3 class="title is-mega-menu-title is-6">研究机构</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./research.html#publications">
                        <h3 class="title is-mega-menu-title is-6">学术成果</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./research.html#journals">
                        <h3 class="title is-mega-menu-title is-6">学术期刊</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./research.html#workshop">
                        <h3 class="title is-mega-menu-title is-6">Worshops</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./academics_undergraduate.html">人才培养</a>
              <div class="navbar-dropdown">
                <div class="container fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./academics_gradudate.html">
                        <h3 class="title is-mega-menu-title is-6">本科生培养</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./academics_undergraduate.html">
                        <h3 class="title is-mega-menu-title is-6">研究生培养</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./academics_overseas.html">
                        <h3 class="title is-mega-menu-title is-6">留学生培养</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./admissions.html">招生招聘</a>
              <div class="navbar-dropdown">
                <div class="container fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./admissions.html#admissions">
                        <h3 class="title is-mega-menu-title is-6">招生信息</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./admissions.html#employment">
                        <h3 class="title is-mega-menu-title is-6">招聘信息</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="#">学生事务</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./current_students.html">
                        <h3 class="title is-mega-menu-title is-6">学生信息</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./alumni.html">
                        <h3 class="title is-mega-menu-title is-6">系友通讯</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./party.html">党委党建</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./party.html#activity">
                        <h3 class="title is-mega-menu-title is-6">党建活动</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./party.html#build">
                        <h3 class="title is-mega-menu-title is-6">党务工作</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </section>
    <hr class="has-background-grey-light">
    <div class="container">
      <div class="columns">
        <div class="column is-3">
          <ul class="sticky">
            <li data-target="overview">师资概况</li>
            <li data-target="fulltime">教师介绍</li>
            <li data-target="staff">行政人员</li>
          </ul>
        </div>
        <div class="column">
          <section class="section is-medium content-tab is-active" id="overview">
            <h1 class="subtitle is-1 has-text-centered">师资概括</h1>
            <article>目前，清华大学的社会学队伍尚处于组建过程中，陆续调入了一批中青年教学骨干，特别注重从国际知名大学引进一流人才。已经和正在调入的有在美国哈佛大学、德州大学、巴黎第十大学等校获得博士学位的人员，甚至是在国际上有一定知名度的学者。从国内调入的教师也都是本学科领域的学术带头人，其中多数人在中国社会学研究和教学领域已有较大的建树，在国内外学术界具有一定的影响。目前的教师队伍包括教授11名，副教授2名，讲师1名，另有清华校内共建博士点教授1名，副教授3名。上述教学人员中9名具有博士生导师资格，一人入选国家教育部第一批“跨世纪优秀人才计划”。此外,社会学系还延聘了一批国际名校社会学系的著名教授担任兼职教学和研究工作，他们分别来自美国哈佛大学、斯坦福大学、耶鲁大学、杜克大学、芝加哥大学、加州大学伯克利分校、加州大学洛杉矶分校、明尼苏达大学、澳洲国立大学。</article>
            <hr>
            <div class="sandbox">
              <div class="columns is-centered">
                <div class="column is-4">
                  <div class="box"><a href="faculty_detail.html">
                      <figure class="image">
                        <div class="hvrbox"><img src="images/feiyan.jpg">
                          <div class="hvrbox-layer_top">
                            <div class="hvrbox-text">目時見無方軍緑面公応健位</div>
                            <figcaption>
                              <h3 class="has-text-purple has-text-centered is-size-6">燕飞</h3>
                            </figcaption>
                          </div>
                        </div>
                      </figure></a></div>
                </div>
                <div class="column is-4">
                  <div class="box"><a href="faculty_detail.html">
                      <figure class="image">
                        <div class="hvrbox"><img src="images/feiyan.jpg">
                          <div class="hvrbox-layer_top">
                            <div class="hvrbox-text">目時見無方軍緑面公応健位</div>
                            <figcaption>
                              <h3 class="has-text-purple has-text-centered is-size-6">燕飞</h3>
                            </figcaption>
                          </div>
                        </div>
                      </figure></a></div>
                </div>
                <div class="column is-4">
                  <div class="box"><a href="faculty_detail.html">
                      <figure class="image">
                        <div class="hvrbox"><img src="images/feiyan.jpg">
                          <div class="hvrbox-layer_top">
                            <div class="hvrbox-text">目時見無方軍緑面公応健位</div>
                            <figcaption>
                              <h3 class="has-text-purple has-text-centered is-size-6">燕飞</h3>
                            </figcaption>
                          </div>
                        </div>
                      </figure></a></div>
                </div>
              </div>
              <div class="columns is-centered">
                <div class="column is-4">
                  <div class="box"><a href="faculty_detail.html">
                      <figure class="image">
                        <div class="hvrbox"><img src="images/feiyan.jpg">
                          <div class="hvrbox-layer_top">
                            <div class="hvrbox-text">目時見無方軍緑面公応健位</div>
                            <figcaption>
                              <h3 class="has-text-purple has-text-centered is-size-6">燕飞</h3>
                            </figcaption>
                          </div>
                        </div>
                      </figure></a></div>
                </div>
                <div class="column is-4">
                  <div class="box"><a href="faculty_detail.html">
                      <figure class="image">
                        <div class="hvrbox"><img src="images/feiyan.jpg">
                          <div class="hvrbox-layer_top">
                            <div class="hvrbox-text">目時見無方軍緑面公応健位</div>
                            <figcaption>
                              <h3 class="has-text-purple has-text-centered is-size-6">燕飞</h3>
                            </figcaption>
                          </div>
                        </div>
                      </figure></a></div>
                </div>
                <div class="column is-4">
                  <div class="box"><a href="faculty_detail.html">
                      <figure class="image">
                        <div class="hvrbox"><img src="images/feiyan.jpg">
                          <div class="hvrbox-layer_top">
                            <div class="hvrbox-text">目時見無方軍緑面公応健位</div>
                            <figcaption>
                              <h3 class="has-text-purple has-text-centered is-size-6">燕飞</h3>
                            </figcaption>
                          </div>
                        </div>
                      </figure></a></div>
                </div>
              </div>
              <div class="columns is-centered">
                <div class="column is-4">
                  <div class="box"><a href="faculty_detail.html">
                      <figure class="image">
                        <div class="hvrbox"><img src="images/feiyan.jpg">
                          <div class="hvrbox-layer_top">
                            <div class="hvrbox-text">目時見無方軍緑面公応健位</div>
                            <figcaption>
                              <h3 class="has-text-purple has-text-centered is-size-6">燕飞</h3>
                            </figcaption>
                          </div>
                        </div>
                      </figure></a></div>
                </div>
                <div class="column is-4">
                  <div class="box"><a href="faculty_detail.html">
                      <figure class="image">
                        <div class="hvrbox"><img src="images/feiyan.jpg">
                          <div class="hvrbox-layer_top">
                            <div class="hvrbox-text">目時見無方軍緑面公応健位</div>
                            <figcaption>
                              <h3 class="has-text-purple has-text-centered is-size-6">燕飞</h3>
                            </figcaption>
                          </div>
                        </div>
                      </figure></a></div>
                </div>
                <div class="column is-4">
                  <div class="box"><a href="faculty_detail.html">
                      <figure class="image">
                        <div class="hvrbox"><img src="images/feiyan.jpg">
                          <div class="hvrbox-layer_top">
                            <div class="hvrbox-text">目時見無方軍緑面公応健位</div>
                            <figcaption>
                              <h3 class="has-text-purple has-text-centered is-size-6">燕飞</h3>
                            </figcaption>
                          </div>
                        </div>
                      </figure></a></div>
                </div>
              </div>
            </div>
          </section>
          <section class="section is-medium content-tab" id="fulltime">
            <h1 class="subtitle is-1 has-text-centered">全职教师</h1>
            <div class="sandbox">
              <div class="columns is-centered">
                <div class="column is-4">
                  <div class="box"><a href="faculty_detail.html">
                      <figure class="image">
                        <div class="hvrbox"><img src="images/feiyan.jpg">
                          <div class="hvrbox-layer_top">
                            <div class="hvrbox-text">目時見無方軍緑面公応健位敗刊条</div>
                            <figcaption>
                              <h3 class="has-text-purple has-text-centered is-size-6">燕飞</h3>
                            </figcaption>
                          </div>
                        </div>
                      </figure></a></div>
                </div>
                <div class="column is-4">
                  <div class="box"><a href="faculty_detail.html">
                      <figure class="image">
                        <div class="hvrbox"><img src="images/feiyan.jpg">
                          <div class="hvrbox-layer_top">
                            <div class="hvrbox-text">目時見無方軍緑面公応健位敗刊条</div>
                            <figcaption>
                              <h3 class="has-text-purple has-text-centered is-size-6">燕飞</h3>
                            </figcaption>
                          </div>
                        </div>
                      </figure></a></div>
                </div>
                <div class="column is-4">
                  <div class="box"><a href="faculty_detail.html">
                      <figure class="image">
                        <div class="hvrbox"><img src="images/feiyan.jpg">
                          <div class="hvrbox-layer_top">
                            <div class="hvrbox-text">目時見無方軍緑面公応健位敗刊条</div>
                            <figcaption>
                              <h3 class="has-text-purple has-text-centered is-size-6">燕飞</h3>
                            </figcaption>
                          </div>
                        </div>
                      </figure></a></div>
                </div>
              </div>
              <div class="columns is-centered">
                <div class="column is-4">
                  <div class="box"><a href="faculty_detail.html">
                      <figure class="image">
                        <div class="hvrbox"><img src="images/feiyan.jpg">
                          <div class="hvrbox-layer_top">
                            <div class="hvrbox-text">目時見無方軍緑面公応健位敗刊条</div>
                            <figcaption>
                              <h3 class="has-text-purple has-text-centered is-size-6">燕飞</h3>
                            </figcaption>
                          </div>
                        </div>
                      </figure></a></div>
                </div>
                <div class="column is-4">
                  <div class="box"><a href="faculty_detail.html">
                      <figure class="image">
                        <div class="hvrbox"><img src="images/feiyan.jpg">
                          <div class="hvrbox-layer_top">
                            <div class="hvrbox-text">目時見無方軍緑面公応健位敗刊条</div>
                            <figcaption>
                              <h3 class="has-text-purple has-text-centered is-size-6">燕飞</h3>
                            </figcaption>
                          </div>
                        </div>
                      </figure></a></div>
                </div>
                <div class="column is-4">
                  <div class="box"><a href="faculty_detail.html">
                      <figure class="image">
                        <div class="hvrbox"><img src="images/feiyan.jpg">
                          <div class="hvrbox-layer_top">
                            <div class="hvrbox-text">目時見無方軍緑面公応健位敗刊条</div>
                            <figcaption>
                              <h3 class="has-text-purple has-text-centered is-size-6">燕飞</h3>
                            </figcaption>
                          </div>
                        </div>
                      </figure></a></div>
                </div>
              </div>
              <div class="columns is-centered">
                <div class="column is-4">
                  <div class="box"><a href="faculty_detail.html">
                      <figure class="image">
                        <div class="hvrbox"><img src="images/feiyan.jpg">
                          <div class="hvrbox-layer_top">
                            <div class="hvrbox-text">目時見無方軍緑面公応健位敗刊条</div>
                            <figcaption>
                              <h3 class="has-text-purple has-text-centered is-size-6">燕飞</h3>
                            </figcaption>
                          </div>
                        </div>
                      </figure></a></div>
                </div>
                <div class="column is-4">
                  <div class="box"><a href="faculty_detail.html">
                      <figure class="image">
                        <div class="hvrbox"><img src="images/feiyan.jpg">
                          <div class="hvrbox-layer_top">
                            <div class="hvrbox-text">目時見無方軍緑面公応健位敗刊条</div>
                            <figcaption>
                              <h3 class="has-text-purple has-text-centered is-size-6">燕飞</h3>
                            </figcaption>
                          </div>
                        </div>
                      </figure></a></div>
                </div>
                <div class="column is-4">
                  <div class="box"><a href="faculty_detail.html">
                      <figure class="image">
                        <div class="hvrbox"><img src="images/feiyan.jpg">
                          <div class="hvrbox-layer_top">
                            <div class="hvrbox-text">目時見無方軍緑面公応健位敗刊条</div>
                            <figcaption>
                              <h3 class="has-text-purple has-text-centered is-size-6">燕飞</h3>
                            </figcaption>
                          </div>
                        </div>
                      </figure></a></div>
                </div>
              </div>
            </div>
            <!-- include components/pagination.pug-->
            <hr>
            <h2 class="subtitle is-2 has-text-centered">兼职教师</h2>
            <div class="has-text-purple">本校跨学科教授</div>
            <div>毛其智 教授 清华大学建筑学院 城市规划</div>
            <div>尹稚   教授 清华大学建筑学院 城市规划</div>
            <div>张杰   教授 清华大学建筑学院 城市规划</div>
            <div>谭纵波 教授 清华大学建筑学院 城市规划</div>
            <div>边兰春 教授 清华大学建筑学院 城市规划</div>
            <div>邵磊   教授 清华大学建筑学院 城市规划</div>
            <div>彭凯平 教授 清华大学心理学系 文化与认知</div>
            <div class="has-text-purple">校外兼职教授</div>
            <div>李培林 教授 中国社会科学院社会学所􀀀 社会理论、社会分层与流动</div>
            <div class="has-text-purple">访问教授</div>
            <div>杨大利 教授 芝加哥大学政治学系</div>
            <div>周雪光 教授 芝加哥大学政治学系</div>
            <div>赵鼎新 教授 芝加哥大学社会学系</div>
            <div>M i c h a e l S obel 教授 哥伦比亚大学社会学系</div>
            <div>李静君 教授 加州州立大学洛杉矶分校社会学系</div>
            <div>光􀀀磊  教授 加州州立大学圣地亚哥分校政治学系</div>
          </section>
          <section class="section is-medium content-tab" id="staff">
            <h2 class="subtitle is-2 has-text-centered">行政人员</h2>
            <div>李彩霞</div>
            <div>于昕</div>
            <div>soc@mail.tsinghua.edu.cn</div>
          </section>
        </div>
      </div>
    </div>
    <hr>
    <footer class="footer">
      <div class="container is-fluid">
        <div class="columns">
          <div class="column is-4 is-pulled-left">
            <div class="columns">
              <div class="column is-6 is-pulled-left">
                <figure class="image"><img src="images/DepLogo.png"></figure>
              </div>
            </div>
            <ul>
              <li>北京·海淀</li>
              <li>清华大学·熊知行楼</li>
              <li>212室·100084</li><br>
              <p>2019 清华大学社会学系</p>
              <p>All Rights Reserved. 北京, 100084, 中国</p>
            </ul>
          </div>
          <div class="is-divider-vertical"></div>
          <div class="column is-4">
            <div class="columns">
              <div class="column is-6 is-offset-2">
                <ul>
                  <li> <a href="http://www.tsinghua.edu.cn/">清华主页</a></li>
                  <li> <a href="about_us.html">关于我们</a></li>
                </ul>
              </div>
              <div class="column is-8">
                <ul>
                  <li> <a href="http://www.shehui.pku.edu.cn/">北京大学社会学系</a></li>
                  <li> <a href="http://ssps.ruc.edu.cn/">中国人民大学社会与人口学院</a></li>
                  <li> <a href="http://cass.cssn.cn/">中国社会科学院</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="is-divider-vertical"></div>
          <div class="column is-4">
            <div class="columns">
              <div class="column is-offset-1">
                <div class="modal">
                  <div class="modal-background"></div>
                  <div class="modal-content"><img class="qr-image" src="images/thu-sociology.png"></div>
                </div><img class="icon-image" src="images/wechat.svg" id="open-modal" aria-label="close">
              </div>
              <div class="column"><a href="tel:010-62795086"><i class="fa fa-phone fa-2x"></i></a></div>
              <div class="column"><a href="mailto:soc@tsinghua.edu.cn"><i class="fa fa-envelope-o fa-2x"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/script.js"></script>
  </body>
</html>
