public/research.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Hero - Free Bulma template</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/line-awesome-font-awesome.min.css">
    <!-- Bulma Version 0.7.2-->
    <!-- <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> -->
  </head>
  <body>
    <section>
      <nav class="navbar">
        <div class="navbar-brand"><img class="thu-logo" src="images/Tsinghua_University_logo.png" alt="Logo"><span class="navbar-burger burger" data-target="navbarMenu"><span></span><span></span><span></span></span></div>
        <div class="navbar-menu" id="navbarMenu">
          <div class="navbar-end">
            <div class="navbar-item is-hoverable is-mega"><a href="./index.html">首页</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./contact_us.html#links">
                        <h3 class="title is-mega-menu-title is-6">快速链接</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./contact_us.html#contact">
                        <h3 class="title is-mega-menu-title is-6">联系我们</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./about.html">我系概况</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./about.html#about_us">
                        <h3 class="title is-mega-menu-title is-6">本系现状</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./about.html#dep_history">
                        <h3 class="title is-mega-menu-title is-6">历史沿革</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./about.html#message_chair">
                        <h3 class="title is-mega-menu-title is-6">主任致辞</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./faculty.html">师资队伍</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./faculty.html#overview">
                        <h3 class="title is-mega-menu-title is-6">师资概括</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./faculty.html#faculty">
                        <h3 class="title is-mega-menu-title is-6">教师介绍</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./faculty.html#staff">
                        <h3 class="title is-mega-menu-title is-6">行政人员</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./news.html">新闻公告</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./news.html">
                        <h3 class="title is-mega-menu-title is-6">新闻动态</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./events.html">
                        <h3 class="title is-mega-menu-title is-6">通知预告</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./research.html">学术研究</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./research.html#cluster">
                        <h3 class="title is-mega-menu-title is-6">研究机构</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./research.html#publications">
                        <h3 class="title is-mega-menu-title is-6">学术成果</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./research.html#journals">
                        <h3 class="title is-mega-menu-title is-6">学术期刊</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./research.html#workshop">
                        <h3 class="title is-mega-menu-title is-6">Worshops</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./academics_undergraduate.html">人才培养</a>
              <div class="navbar-dropdown">
                <div class="container fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./academics_gradudate.html">
                        <h3 class="title is-mega-menu-title is-6">本科生培养</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./academics_undergraduate.html">
                        <h3 class="title is-mega-menu-title is-6">研究生培养</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./academics_overseas.html">
                        <h3 class="title is-mega-menu-title is-6">留学生培养</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./admissions.html">招生招聘</a>
              <div class="navbar-dropdown">
                <div class="container fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./admissions.html#admissions">
                        <h3 class="title is-mega-menu-title is-6">招生信息</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./admissions.html#employment">
                        <h3 class="title is-mega-menu-title is-6">招聘信息</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="#">学生事务</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./current_students.html">
                        <h3 class="title is-mega-menu-title is-6">学生信息</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./alumni.html">
                        <h3 class="title is-mega-menu-title is-6">系友通讯</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-item is-hoverable is-mega"><a href="./party.html">党委党建</a>
              <div class="navbar-dropdown">
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column"><a class="navbar-item has-text-right" href="./party.html#activity">
                        <h3 class="title is-mega-menu-title is-6">党建活动</h3></a></div>
                    <div class="column"><a class="navbar-item has-text-right" href="./party.html#build">
                        <h3 class="title is-mega-menu-title is-6">党务工作</h3></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </section>
    <hr class="has-background-grey-light">
    <div class="container">
      <div class="columns">
        <div class="column is-3">
          <aside class="menu">
            <ul class="menu-list sticky">
              <li data-target="cluster">研究机构</li>
              <li data-target="achievements">学术成果</li>
              <li class="accordion">学术期刊
                <ul class="accordion-panel">
                  <li data-target="journal_review">清华社会学评论</li>
                  <li data-target="journal_research">社会政策研究</li>
                </ul>
              </li>
              <li data-target="lectures">学术讲座</li>
            </ul>
          </aside>
        </div>
        <div class="column">
          <section class="section is-medium content-tab is-active" id="cluster">
            <h1 class="title is-1 has-text-centered">研究机构</h1>
            <p class="has-text-grey-light">中心简介</p>
            <p class="has-text-grey-light">一、中心宗旨：</p>
            <p class="has-text-grey-light">中国人口结构的迅速老龄化和老年人生活质量是当代中国社会的一个重要问题。清华大学老年学中心将致力于探讨和认识人口和个人老龄化过程和规律，促进个人晚年生活质量的不断提高和老年人群对社会生活的积极参与，推动老年社会政策的不断改善。</p>
            <p class="has-text-grey-light">二、中心基本目标：</p>
            <p class="has-text-grey-light">作为一个研究和教学相结合的机构，我们计划在未来年月里实现如下目标： 1. 为跨学科、跨专业的老年问题基础研究提供充分的理论建设环境。 2. 开设各类适应老年社会需要的教育专业并承担对各类专业人才的老年学培训。 3. 组织和协调校内外老年学研究项目和活动。 4. 成为老年社会政策的思想库，为政府制定老年政策提供科学的依据和建议。</p>
            <p class="has-text-grey-light">三、学术研究：</p>
            <p class="has-text-grey-light">1．已完成的学术研究项目</p>
            <p class="has-text-grey-light">（1）北京市老年生活状况和养老模式的调查 (与香港城市大学合作项目)</p>
            <p class="has-text-grey-light">（2）中国养老保障政策回顾 （校内基金资助）</p>
            <p class="has-text-grey-light">（3）老年长期居住环境设计与服务规范和标准的国际比较研究 （与香港理工大学的合作项目）</p>
            <p class="has-text-grey-light">（4）北京养老产业的发展及其社会意义的研究 （日本寰宇基金会资助）</p>
            <p class="has-text-grey-light">（5）清华社区老年需求和信息化管理研究 （校内基金资助）</p>
            <p class="has-text-grey-light">2．正在进行的学术研究项目</p>
            <p class="has-text-grey-light">（1）北京养老机构发展趋势和规划研究</p>
            <p class="has-text-grey-light">（2）老年健康和社会服务管理标准化问题研究</p>
            <p class="has-text-grey-light">（3）老年痴呆症相关的基因及相关代谢通路</p>
            <p class="has-text-grey-light"> 四、主要研究人员：</p>
            <p class="has-text-grey-light">  李强教授，研究领域：社会分层与流动</p>
            <p class="has-text-grey-light">  郭于华教授，研究领域：代际关系</p>
            <p class="has-text-grey-light">  张小军教授，研究领域: 认知与文化</p>
            <p class="has-text-grey-light">  景军教授，研究领域：老年家庭关系和社区老年服务管理</p>
            <p class="has-text-grey-light">  裴晓梅副教授，研究领域：社会保障和长期健康照料</p>
            <p class="has-text-grey-light">  周燕珉副教授，研究领域：老年住宅建筑设计</p>
            <p class="has-text-grey-light">  崔保国教授，研究领域: 社会福利与大众传媒</p>
            <p class="has-text-grey-light">  谢佐平教授，研究领域：衰老生物学</p>
            <p class="has-text-grey-light">  请和我们联系</p>
            <p class="has-text-grey-light">  联系地址： 中国 北京 清华大学 社会学系 老年学中心</p>
            <p class="has-text-grey-light">  邮政编码： 100084</p>
            <p class="has-text-grey-light">  电话传真： 86-10-62772740</p>
            <p class="has-text-grey-light">  电子信箱： soc@tsinghua.edu.cn</p>
          </section>
          <section class="section is-medium content-tab" id="journal_review">
            <h1 class="title is-1">清华社会学评论</h1>
            <p class="has-text-grey-light">《清华社会学评论》是由清华大学社会学系主办的学术集刊。自2000年创刊以来，始终以“面对中国社会真问题，关注转型期实践逻辑，推动本土化理论研究”为宗旨，刊发过许多在学术界产生过较大影响的学术研究。近年来，《清华社会学评论》开始以热点主题形式组稿出版，通过热门主题的选取、独到的视角、精辟的论述，掀起了学术界对“面向社会转型的民族志”、“新生代农民工”等问题的讨论热潮，为社会学学界搭建了一个交流共进的学术平台。</p>
            <p class="has-text-grey-light">《清华社会学评论》2018年第十辑目录</p>
            <p class="has-text-grey-light">《清华社会学评论》2018年第九辑目录</p>
            <p class="has-text-grey-light">清华大学社会学系《清华社会学评论》喜获“2017年度优秀学术集刊奖”</p>
            <p class="has-text-grey-light">《清华社会学评论》征稿启事</p>
          </section>
          <section class="section is-medium content-tab" id="journal_research">
            <h1 class="title is-1">社会政策研究</h1>
            <p class="has-text-grey-light">《清华社会学评论》是由清华大学社会学系主办的学术集刊。自2000年创刊以来，始终以“面对中国社会真问题，关注转型期实践逻辑，推动本土化理论研究”为宗旨，刊发过许多在学术界产生过较大影响的学术研究。近年来，《清华社会学评论》开始以热点主题形式组稿出版，通过热门主题的选取、独到的视角、精辟的论述，掀起了学术界对“面向社会转型的民族志”、“新生代农民工”等问题的讨论热潮，为社会学学界搭建了一个交流共进的学术平台。</p>
            <p class="has-text-grey-light">《清华社会学评论》2018年第十辑目录</p>
            <p class="has-text-grey-light">《清华社会学评论》2018年第九辑目录</p>
            <p class="has-text-grey-light">清华大学社会学系《清华社会学评论》喜获“2017年度优秀学术集刊奖”</p>
          </section>
          <section class="section is-medium content-tab" id="achievements">
            <h1 class="title is-1 has-text-centered">学术成果</h1>
            <p>刘精明：我国儿童营养不良状况分析</p>
            <p>李强：改革开放40年中国社会分层结构之变迁</p>
            <p>罗家德、樊瑛：计算社会科学如何扎根真相</p>
            <p>张小军：当历史走进人类学家</p>
            <p>何晓斌、李强：中国实证社会科学的演进及使用大数据研究之现状与挑战</p>
            <p>严飞、曾丰又：历史社会学的本土自觉</p>
            <p>景军：现代预防医学在乡土中国的实践源头和本土化过程</p>
            <p>孙凤等：教育部门的投入溢出效应分析</p>
          </section>
          <section class="section is-medium content-tab" id="lectures">
            <h1 class="title is-1 has-text-centered">学术讲座</h1>
            <div class="container">
              <article class="tile is-child notification is-white">
                <div><span class="is-pulled-left">低生育水平与人口发展战略</span><span class="is-pulled-right">2019-01-01</span></div>
                <div><span class="is-pulled-left">博士生学术工作坊  第五期 本周六下午两点</span><span class="is-pulled-right">2019-01-01</span></div>
                <div><span class="is-pulled-left">讲座预告：清华社会学系政治社会学系列讲座</span><span class="is-pulled-right">2019-01-01</span></div>
                <div><span class="is-pulled-left">清华历史社会学系列讲座01</span><span class="is-pulled-right">2019-01-01</span></div>
              </article>
            </div>
            <nav class="pagination is-centered" role="navigation" aria-label="pagination"><a class="pagination-previous">上一页</a><a class="pagination-next">下一页</a>
              <ul class="pagination-list">
                <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                <li> <a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
              </ul>
            </nav>
          </section>
        </div>
      </div>
    </div>
    <hr>
    <script src="js/accordion.js"></script>
    <footer class="footer">
      <div class="container is-fluid">
        <div class="columns">
          <div class="column is-4 is-pulled-left">
            <div class="columns">
              <div class="column is-6 is-pulled-left">
                <figure class="image"><img src="images/DepLogo.png"></figure>
              </div>
            </div>
            <ul>
              <li>北京·海淀</li>
              <li>清华大学·熊知行楼</li>
              <li>212室·100084</li><br>
              <p>2019 清华大学社会学系</p>
              <p>All Rights Reserved. 北京, 100084, 中国</p>
            </ul>
          </div>
          <div class="is-divider-vertical"></div>
          <div class="column is-4">
            <div class="columns">
              <div class="column is-6 is-offset-2">
                <ul>
                  <li> <a href="http://www.tsinghua.edu.cn/">清华主页</a></li>
                  <li> <a href="about_us.html">关于我们</a></li>
                </ul>
              </div>
              <div class="column is-8">
                <ul>
                  <li> <a href="http://www.shehui.pku.edu.cn/">北京大学社会学系</a></li>
                  <li> <a href="http://ssps.ruc.edu.cn/">中国人民大学社会与人口学院</a></li>
                  <li> <a href="http://cass.cssn.cn/">中国社会科学院</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="is-divider-vertical"></div>
          <div class="column is-4">
            <div class="columns">
              <div class="column is-offset-1">
                <div class="modal">
                  <div class="modal-background"></div>
                  <div class="modal-content"><img class="qr-image" src="images/thu-sociology.png"></div>
                </div><img class="icon-image" src="images/wechat.svg" id="open-modal" aria-label="close">
              </div>
              <div class="column"><a href="tel:010-62795086"><i class="fa fa-phone fa-2x"></i></a></div>
              <div class="column"><a href="mailto:soc@tsinghua.edu.cn"><i class="fa fa-envelope-o fa-2x"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/script.js"></script>
  </body>
</html>

pugs_zh/research.pug
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Hero - Free Bulma template
    //-  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/line-awesome-font-awesome.min.css')
    // Bulma Version 0.7.2
    // <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> 
  body
    include components/nav.pug
    .container
      .columns
        .column.is-3
          aside.menu
            ul.menu-list.sticky
              li(data-target='cluster') 研究机构
              li(data-target='achievements') 学术成果
              li.accordion 学术期刊
                ul.accordion-panel
                  li(data-target='journal_review') 清华社会学评论
                  li(data-target='journal_research') 社会政策研究
              li(data-target='lectures') 学术讲座
        .column
          section(class='section is-medium content-tab is-active', id='cluster')
            h1.title.is-1.has-text-centered 研究机构
            p.has-text-grey-light 中心简介
            p.has-text-grey-light 一、中心宗旨：
            p.has-text-grey-light 中国人口结构的迅速老龄化和老年人生活质量是当代中国社会的一个重要问题。清华大学老年学中心将致力于探讨和认识人口和个人老龄化过程和规律，促进个人晚年生活质量的不断提高和老年人群对社会生活的积极参与，推动老年社会政策的不断改善。
            p.has-text-grey-light 二、中心基本目标：
            p.has-text-grey-light 作为一个研究和教学相结合的机构，我们计划在未来年月里实现如下目标： 1. 为跨学科、跨专业的老年问题基础研究提供充分的理论建设环境。 2. 开设各类适应老年社会需要的教育专业并承担对各类专业人才的老年学培训。 3. 组织和协调校内外老年学研究项目和活动。 4. 成为老年社会政策的思想库，为政府制定老年政策提供科学的依据和建议。
            p.has-text-grey-light 三、学术研究：
            p.has-text-grey-light 1．已完成的学术研究项目
            p.has-text-grey-light （1）北京市老年生活状况和养老模式的调查 (与香港城市大学合作项目)
            p.has-text-grey-light （2）中国养老保障政策回顾 （校内基金资助）
            p.has-text-grey-light （3）老年长期居住环境设计与服务规范和标准的国际比较研究 （与香港理工大学的合作项目）
            p.has-text-grey-light （4）北京养老产业的发展及其社会意义的研究 （日本寰宇基金会资助）
            p.has-text-grey-light （5）清华社区老年需求和信息化管理研究 （校内基金资助）
            p.has-text-grey-light 2．正在进行的学术研究项目
            p.has-text-grey-light （1）北京养老机构发展趋势和规划研究
            p.has-text-grey-light （2）老年健康和社会服务管理标准化问题研究
            p.has-text-grey-light （3）老年痴呆症相关的基因及相关代谢通路
            p.has-text-grey-light  四、主要研究人员：
            p.has-text-grey-light   李强教授，研究领域：社会分层与流动
            p.has-text-grey-light   郭于华教授，研究领域：代际关系
            p.has-text-grey-light   张小军教授，研究领域: 认知与文化
            p.has-text-grey-light   景军教授，研究领域：老年家庭关系和社区老年服务管理
            p.has-text-grey-light   裴晓梅副教授，研究领域：社会保障和长期健康照料
            p.has-text-grey-light   周燕珉副教授，研究领域：老年住宅建筑设计
            p.has-text-grey-light   崔保国教授，研究领域: 社会福利与大众传媒
            p.has-text-grey-light   谢佐平教授，研究领域：衰老生物学
            p.has-text-grey-light   请和我们联系
            p.has-text-grey-light   联系地址： 中国 北京 清华大学 社会学系 老年学中心
            p.has-text-grey-light   邮政编码： 100084
            p.has-text-grey-light   电话传真： 86-10-62772740
            p.has-text-grey-light   电子信箱： soc@tsinghua.edu.cn
          section(class='section is-medium content-tab', id='journal_review')
            h1.title.is-1 清华社会学评论
            p.has-text-grey-light 《清华社会学评论》是由清华大学社会学系主办的学术集刊。自2000年创刊以来，始终以“面对中国社会真问题，关注转型期实践逻辑，推动本土化理论研究”为宗旨，刊发过许多在学术界产生过较大影响的学术研究。近年来，《清华社会学评论》开始以热点主题形式组稿出版，通过热门主题的选取、独到的视角、精辟的论述，掀起了学术界对“面向社会转型的民族志”、“新生代农民工”等问题的讨论热潮，为社会学学界搭建了一个交流共进的学术平台。
            p.has-text-grey-light 《清华社会学评论》2018年第十辑目录
            p.has-text-grey-light 《清华社会学评论》2018年第九辑目录
            p.has-text-grey-light 清华大学社会学系《清华社会学评论》喜获“2017年度优秀学术集刊奖”
            p.has-text-grey-light 《清华社会学评论》征稿启事
          section(class='section is-medium content-tab', id='journal_research')
            h1.title.is-1 社会政策研究
            p.has-text-grey-light 《清华社会学评论》是由清华大学社会学系主办的学术集刊。自2000年创刊以来，始终以“面对中国社会真问题，关注转型期实践逻辑，推动本土化理论研究”为宗旨，刊发过许多在学术界产生过较大影响的学术研究。近年来，《清华社会学评论》开始以热点主题形式组稿出版，通过热门主题的选取、独到的视角、精辟的论述，掀起了学术界对“面向社会转型的民族志”、“新生代农民工”等问题的讨论热潮，为社会学学界搭建了一个交流共进的学术平台。
            p.has-text-grey-light 《清华社会学评论》2018年第十辑目录
            p.has-text-grey-light 《清华社会学评论》2018年第九辑目录
            p.has-text-grey-light 清华大学社会学系《清华社会学评论》喜获“2017年度优秀学术集刊奖”
          section.section.is-medium.content-tab(id='achievements')
            h1.title.is-1.has-text-centered 学术成果
            p 刘精明：我国儿童营养不良状况分析
            p 李强：改革开放40年中国社会分层结构之变迁
            p 罗家德、樊瑛：计算社会科学如何扎根真相
            p 张小军：当历史走进人类学家
            p 何晓斌、李强：中国实证社会科学的演进及使用大数据研究之现状与挑战
            p 严飞、曾丰又：历史社会学的本土自觉
            p 景军：现代预防医学在乡土中国的实践源头和本土化过程
            p 孙凤等：教育部门的投入溢出效应分析
          section.section.is-medium.content-tab(id='lectures')
            h1.title.is-1.has-text-centered 学术讲座
            include components/msg_list_view.pug
            include components/pagination.pug

    hr
    script(src='js/accordion.js')
    include components/footer.pug
