pugs/index.pug
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Hero - Free Bulma template
    //-  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/line-awesome-font-awesome.min.css')
    // Bulma Version 0.7.2
    // <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> 
  body
    include components/nav.pug
    section.container
      .intro.column.is-12
        figure.image.is-16by9
          img(src='images/Street-art-in-London_1913.jpg')
      .sandbox
        .tile.is-ancestor
          .tile.is-parent.is-9.is-vertical
            .tile.is-child.is-shady
              article.tile.is-child.notification.is-white
                p.title Hello World
                hr.has-background-grey-light
                div
                  span.is-pulled-left xddddddddxdddddd
                  span.is-pulled-right 2019-01-01
                div
                  span.is-pulled-left xddddddddxdddddd
                  span.is-pulled-right 2019-01-01
                div
                  span.is-pulled-left xddddddddxdddddd
                  span.is-pulled-right 2019-01-01
                div
                  span.is-pulled-left xddddddddxdddddd
                  span.is-pulled-right 2019-01-01
            .tile.is-child.is-shady
              article.tile.is-child.notification.is-white
                p.title academic
                hr.has-background-grey-light
                p.subtitle Bar
            .tile.is-child.is-shady
              article.tile.is-child.notification.is-white
                p.title Foo
                hr.has-background-grey-light
                p.subtitle Bar
            .tile.is-child.is-shady
              article.tile.is-child.notification.is-white
                p.title Foo
                hr
                p.subtitle Bar
          .tile.is-parent.is-3.is-shady
            article.tile.is-child.notification.is-white
              p.title Third column
              p.subtitle With some content
              .content
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
    include components/footer.pug

index.html
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hero - Free Bulma template</title>
        <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">-->
        <link rel="stylesheet" href="main.css" />
        <!-- <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css"> -->
        <!-- Bulma Version 0.7.2-->
        <!-- <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" /> -->
    </head>
    <body>
        <section>
            <nav class="navbar thu-nav">
                <div class="navbar-brand">
                    <img class="thu-logo" src="assets/images/Tsinghua_University_logo.png" alt="Logo">
                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <a href="./news.html">News</a>
                        </div>
                        <div class="navbar-item">
                            <a href="./faculty.html">Faulty</a>
                        </div>
                        <div class="navbar-item">
                            <a href="./faculty_dtail.html">Detail</a>
                        </div>
                    </div>
                </div>
            </nav>
        </section>
        <hr class="has-background-grey-light">
        <section class="container">
            <div class="intro column is-12">
                <figure class="image is-16by9">
                    <img src="assets/images/Street-art-in-London_1913.jpg">
                </figure>
            </div>
            <div class="sandbox">
                <div class="tile is-ancestor">
                    <div class="tile is-parent is-9 is-vertical">
                        <div class="tile is-child is-shady">
                            <article class="tile is-child notification is-white">
                                <p class="title">Hello World</p>
                                <hr class="has-background-grey-light">
                                <div> 
                                    <span class="is-pulled-left"> xddddddddxdddddd</span> 
                                    <span class="is-pulled-right"> 2019-01-01</span>
                                </div>
                                <div> 
                                    <span class="is-pulled-left"> xddddddddxdddddd</span> 
                                    <span class="is-pulled-right"> 2019-01-01</span>
                                </div>
                                <div> 
                                    <span class="is-pulled-left"> xddddddddxdddddd</span> 
                                    <span class="is-pulled-right"> 2019-01-01</span>
                                </div>
                                <div> 
                                    <span class="is-pulled-left"> xddddddddxdddddd</span> 
                                    <span class="is-pulled-right"> 2019-01-01</span>
                                </div>
                            </article>
                        </div>
                        <div class="tile is-child is-shady">
                            <article class="tile is-child notification is-white">
                                <p class="title">academic</p>
                                <hr class="has-background-grey-light">
                                <p class="subtitle">Bar</p>
                            </article>
                        </div>
                        <div class="tile is-child is-shady">
                            <article class="tile is-child notification is-white">
                                <p class="title">Foo</p>
                                <hr class="has-background-grey-light">
                                <p class="subtitle">Bar</p>
                            </article>
                        </div>
                        <div class="tile is-child is-shady">
                            <article class="tile is-child notification is-white">
                                <p class="title">Foo</p>
                                <hr>
                                <p class="subtitle">Bar</p>
                            </article>
                        </div>
                    </div>
                    <div class="tile is-parent is-3 is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Third column</p>
                            <p class="subtitle">With some content</p>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container is-fluid">
                <div class="columns">
                    <div class="column is-4 is-pulled-left">
                        <div class="columns">
                            <div class="column is-6 is-pulled-left">
                                <figure class="image">
                                    <img src="assets/images/Tsinghua_University_logo.png">
                                </figure>
                            </div>
                        </div>
                        <ul>
                            <li>Beijing Haidian</li>
                            <li>Xiongzhixing Building, Tsinghua University</li>
                            <li>Room 212, 100084</li>
                            <br/>
                            <p> Tsinghua University </p>
                            <p> All rights reserved </p>
                        </ul>
                    </div>
                    <div class="is-divider-vertical"></div>
                    <div class="column is-4">
                        <div class="columns">
                            <div class="column is-6 is-offset-2">
                                <ul>
                                    <li>Tsinghua Homepage</li>
                                    <li>Tsinghua Homepage</li>
                                    <li>Tsinghua Homepage</li>
                                </ul>
                            </div>
                            <div class="column is-8">
                                <ul>
                                    <li>Forum</li>
                                    <li>Forum</li>
                                    <li>Forum</li>
                                    <li>Forum</li>
                                    <li>Forum</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="is-divider-vertical"></div>
                    <div class="column is-4">
                        <div class="columns">
                            <div class="column is-3">
                                <img class="icon-image" src="assets/images/wechat.svg" />
                            </div>
                            <div class="column is-3">
                                <i class="fa fa-phone fa-2x"></i>
                            </div>
                            <div class="column is-3">
                                <i class="fa fa-envelope-o fa-2x"></i>
                            </div>
                            <div class="column is-3">
                                <i class="fa fa-twitter fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
